:root {
	// fonts
	--h1-font-size: 3.8em;
	--skills-text-font-size: 2.2em;

	// colors
	--change-color-1: #b14fc0;
	--change-color-2: #8a3d96;
	--change-color-3: #672f70;
	--logo-3d-color: white;
	--text-color: white;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1440px;
}

@font-face {
	font-family: Furore;
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/Furore/Furore.otf') format('opentype');
	font-display: swap;
}
